@import "./akaPosseFont.css";

html {
  scroll-behavior: smooth;
}

body {
  background-image: url(../images/BG_tile.png);
  background-position: 'top left';
  background-repeat: 'repeat';
  background-size: 19%;
}
